[bumpversion]
current_version = 2.1.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file(readme-img-tag):README.md]
search = knucklessg1/emerald-exchange:{current_version}
replace = knucklessg1/emerald-exchange:{new_version}

[bumpversion:file(tag-example):docker/Dockerfile]
search = -t emerald-exchange:{current_version} .
replace = -t emerald-exchange:{new_version} .

[bumpversion:file(deploy-img-tag):docs/deployment.md]
search = knucklessg1/emerald-exchange:{current_version}
replace = knucklessg1/emerald-exchange:{new_version}

[bumpversion:file(install-img-tag):docs/installation.md]
search = knucklessg1/emerald-exchange:{current_version}
replace = knucklessg1/emerald-exchange:{new_version}

[bumpversion:file:emerald_exchange/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
